.pokemon-card {
    cursor: pointer;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.pokemon-card .pokemon-image {
    object-fit: contain;
}
.pokemon-card img.animated-sprite {
    position: absolute;
    top: 0;
    left: 0;
}